

<div class="container-fluid" *ngIf="hideDuplicate === false">
    <div class="row">
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div [innerHTML]="errorMsg"></div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col text-primary font-weight-bold">
                        FAQ
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div *ngFor="let item of data;let i = index;">
                            <button class="accordion" (click)="toggleAccordian($event, i)"> {{item.parentName}} </button>
                            <div class="panel" *ngFor="let child of item.childProperties" hide="!item.isActive">
                            <p style="color:black;"> {{child.propertyName}} </p>
                          </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col text-danger font-weight-bolder error-display">
                        Self Help
                    </div>
                </div>
            </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-main-theme">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div [innerHTML]="errorMsg"></div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col text-primary font-weight-bold">
                        FAQ
                    </div>
                </div>
                <div class="row">
                    <div class="col bg-main-theme">
                        <div *ngFor="let item of data;let i = index;">
                            <button class="accordion" (click)="toggleAccordian($event, i)"> {{item.parentName}} </button>
                            <div class="panel" *ngFor="let child of item.childProperties" hide="!item.isActive">
                            <p style="color:black;"> {{child.propertyName}} </p>
                          </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>